.img-colecao
    width: 300px

.slick-slide
    opacity : 0.4
    img 
        filter: blur(3px)

.slick-current
    opacity 1
    img 
        filter: blur(0)

.bg-colecao
    background-color: #ffffff
    margin-left: 25px
    padding: 10px 10px
    box-shadow: 0 0 5px #b1afaf

.botoes-colecao
    text-align: center
    & > *
        margin-left: 5px
        background-color: transparent
        border-radius: 20px

.curti
    background-image: url('/img/pesquisa/colecao/curti.png')
    width: 40px
    height 40px
    background-position: center center

.amei
    background-image: url('/img/pesquisa/colecao/amei.png')
    width: 40px
    height 40px
    background-position: center center

.indiferente
    background-image: url('/img/pesquisa/colecao/indiferente.png')
    width: 40px
    height 40px
    background-position: center center

.naoGostei
    background-image: url('/img/pesquisa/colecao/naoGostei.png')
    width: 40px
    height 40px
    background-position: center center

.slick-list
    padding-top: 10px !important
    padding-bottom: 10px !important