.img-colecao
    width: 300px

.slick-slide
    opacity : 0.4
    img 
        filter: blur(3px)

.slick-current
    opacity 1
    img 
        filter: blur(0)

.bg-colecao
    background-color: #ffffff
    margin-left: 25px
    padding: 10px 10px
    box-shadow: 0 0 5px #b1afaf

.botoes-colecao
    text-align: center
    & > *
        margin-left: 5px
        background-color: transparent
        border-radius: 20px

.curti
    background-image: url('/img/pesquisa/colecao/curti.png')
    width: 40px
    height 40px
    background-position: center center

.amei
    background-image: url('/img/pesquisa/colecao/amei.png')
    width: 40px
    height 40px
    background-position: center center

.indiferente
    background-image: url('/img/pesquisa/colecao/indiferente.png')
    width: 40px
    height 40px
    background-position: center center

.naoGostei
    background-image: url('/img/pesquisa/colecao/naoGostei.png')
    width: 40px
    height 40px
    background-position: center center

.slick-list
    padding-top: 10px !important
    padding-bottom: 10px !important

.botoes-colecao button
    position relative
    cursor pointer
    .input-colecao
        position absolute
        top: 0
        left 0
        width: 100%;
        height: 100%;
        opacity 0

.borda-check
    border 2px solid #ea078a
    box-shadow: 0 0 10px #ea078a
    &:hover
        border 2px solid #ea078a
        box-shadow: 0 0 10px #ea078a

.img-certo
    position relative
    &::after
        content: ''
        background-image: url('/img/pesquisa/colecao/certo.png');
        width: 50px
        height 50px
        background-position: center center
        background-repeat: no-repeat
        position: absolute
        right 0
        top 0
        background-size: cover

.btn-cinza
    filter: grayscale(100%)

.btn-ativo
    filter: grayscale(0)

.slick-prev, 
.slick-next
    width: 60px !important
    height: 60px !important

.btn-finalizar
    filter: grayscale(45%);

@media screen and (max-width: 1330px)
    .curti,
    .amei,
    .indiferente,
    .naoGostei
        width: 30px
        height 30px
        background-size: cover

@media screen and (max-width: 773px)
    .curti,
    .amei,
    .indiferente,
    .naoGostei
        width: 24px
        height 24px
    
    .titulo-colecao
        line-height: 45px
    
    .pesquisa-total
        margin-top: 20px;
    
    .rodape-pesquisa
        padding-top: 0;