
.wrraper
    min-height: calc(100vh - 51px)
    padding-top: 60px;

.env-title
    h1
        text-align center
        margin-bottom: 20px;
.deletar
    cursor pointer
.aberto
    background-image url('../img/aberto.svg')
    background-position top left
    background-repeat no-repeat
    position relative
    &::before
        width 100%
        content " "
        background-color red
        height 80px
        top -80px
        z-index 2
        position absolute
        background-color white
        
.fechado
    background-image url('../img/fechado.svg')
    background-position top left
    background-repeat no-repeat

.shadow-content
    box-shadow 0 0 6px 2px #eae8e8
.voltar
    max-width 30px


.env-content-final
    padding 80px 0
    display flex 
    justify-content center
    .link
    .pdf
        margin 10px 20px
        width 50px
        img 
            max-width 40px
            margin-bottom 20px
        

.btn-box
    box-shadow 0 0 6px 2px #d3d3d3
    background-color #A4A4A4
    position relative
    &.ativo
        background-color $colors['main']
    &.feito:after
        content ' '
        height 50px
        width 50px
        position absolute
        bottom -5px
        right -20px
        background-image url('../img/check.svg')

.envelope-wrraper
    .desc
        font-size 22px
.env-content
    margin-top 30px
    display flex
    flex-wrap wrap
    justify-content center
    padding 30px
    & > *
        align-self center
        width 45%
        margin 5px 10px 20px 5px
        font-size remify(20px)
        height 180px
        border-radius 10px

.form-group-pampili
    label
        margin-top 10px
.env-content-infos
    padding-bottom 60px
    max-width: 700px;
    margin: auto;
.icone
    max-width 80px
.time
    cursor pointer
    max-width 80px
    margin auto

.dadosEnvelope
    margin-top 30px
    font-weight bold
    .dados
        background-color: white
        display none 
        box-shadow 2px 2px 1px 2px alpha(lightgray, 20%)
        padding: 10px;
        border: 1px solid lighten($colors['main'], 40%);
        border-radius: 5px;
    img 
        max-width 40px
        cursor pointer
    .valores
        margin-top 10px
        margin-bottom 0
    p 
        margin 0
        padding 0
        &.ok
            color green 
        &.estourou
            color red

.texto-branco::placeholder
    color: #fff;

.icones-tabela 
    float: right

.tamanho-td
    width: 80%

.tamanho-texto
    font-size: 16px

.deletar-tamanho
    width: 40px

.duplicar
    cursor pointer
// modal
.modal
    background-color alpha($colors['main'], 0.9)
.modal-header
    border-bottom: none;

.modal-content 
    position: relative;
    background-color: #fff;
    border: 1px solid #999; 
    border: none; 
    border-radius: 0;
    box-shadow: 0 3px 9px rgb(165, 27, 107);
    background-clip: padding-box;
    outline: 0;


.logout
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 4;
    width: 40px;
    img 
        max-width 40px

.rodape-pesquisa-marca
    position fixed
    bottom 80px
    left 0
    width 100%
    z-index 7

.btn-marca-escolha
    position relative
    background-color: #e8e8e8
    transition .5s
    border: 1px solid lightgray
    .inputCheck
        position absolute
        top: 0
        left 0
        width: 100%;
        height: 100%;
        opacity 0
    &:focus
        background-color: #e8e8e8
    img 
        max-height 50px
        margin auto
        filter grayscale(1)
    &.ativo
        background-color white
        border: 2px solid #ec529c;
        box-shadow: 5px 2px 10px rgba(31,18,18,0.51), 0 0 20px #e257a6
        transform scale(1.2)
        z-index 3
        img
            background: white;
            filter grayscale(0)


.pesquisa-wrraper-flex
    display flex
    flex-wrap wrap
    justify-content: space-evenly
    & > button
        cursor pointer
        width 15.9%
        padding-bottom 20px
        padding-top 15px
        margin-bottom 10px
        margin-top 10px
        text-align center



.btn-pesquisa
    background-color: lightgray
    transition .5s
    cursor pointer
    img 
        filter: grayscale(100%);
    &:hover
        background-color: $colors['main']  
    h1
    h2
    h3
    h4
        color white
    &.check
        background-color: $colors['main']
        box-shadow: 0 0 13px 1px #ff69c0
        img 
            filter: grayscale(0);

.pesquisa-wrraper
    display flex
    flex-wrap wrap
    & > *
        padding-left: 5px
        padding-right: 5px



.title-pesquisa
    font-size 18px

.pesquisa-total
    margin-top 40px
    background-color rgba(255, 255, 255, 0.72)
#canvas
    position fixed
    top -10px
    left 0
    z-index -1
.rodape-pesquisa
    padding-top 30px

@media screen and (max-width: 956px)
    .wrraper
        padding-top: 5px;
    .env-content
        padding 10px
        & > *
            width 85%
            margin 10px
            font-size remify(20px)
            height 150px
    .pesquisa-wrraper-flex
        & > button
            width 30%
            margin-bottom 10px
            text-align center
            margin-top: 5px;
            padding-bottom 10px
            padding-top 10px
    .rodape-pesquisa-marca
        bottom 10px



@media screen and (max-width: 420px)
    .env-content
        padding 10px
        & > *
            width 95%
            padding 5px
            font-size remify(16px)