.cronograma
    justify-content center
    width 100%
    padding 10px
    & > .item-cronograma
        position relative
        border 1px solid black
        width 19%
        align-self stretch
        height auto
        box-shadow 2px 2px 0px black


.crono-nalva
    padding-bottom 20px

.form-cronograma
    display flex
    justify-content center

.cro-body
.cro-title
    padding 10px
    input 
        margin-right 5px
.cro-title
    border-bottom 2px solid gray
    margin-bottom 20px
    padding-bottom: 20px
    p
        margin 0
        padding 0
        font-weight bolder
    .data
        margin-top 10px
        font-weight 100

.finalizadoEm
    margin-top 10px

.item-cronograma
    &.concluido
        box-shadow 0 0 12px #26bb26
        .finalizou
            color #26bb26
    &.atrasado
        box-shadow 0 0 12px red
    &.dataProxima
        box-shadow 0 0 14px #d0d000

.motivoAtraso
    margin-top: 20px;
    padding-bottom: 20px;
.motivo
    position: absolute;
    background-color: #fff;
    padding: 10px;
    left: 0;
    margin-top: 10px;
    height: auto;
    z-index: 2;
    width: 120%;
    border-radius 5px
    border:1px solid black
    box-shadow 2px 2px 3px lightgray
.cro-rodape
    position absolute 
    left 0
    bottom 5px
    width 100%
    cursor pointer
    p 
        margin-bottom 0
        padding 0
    img 
        max-width 20px
@media screen and (max-width: 1600px)
    .cronograma
        & > .item-cronograma
            width: 28%


@media screen and (max-width: 960px)
    .cronograma
        & > .item-cronograma
            width 45%


@media screen and (max-width: 480px)
    .cronograma
        & > .item-cronograma
            width 80%

    

