.componente-pesquisa 
    margin-top: 30px;

.sub-pergunta, 
.pergunta-vida, 
.resposta-potencia 
    padding-bottom: 20px;
    border-bottom: 2px solid #d3d3d3;
    padding: 20px;
    background-color: #f6f6f6;
    margin-bottom: 20px;
    border-radius: 10px;

.hidden
    display: none !important;


.displayFlex7pesquisa
    display: flex
    justify-content: center
    flex-wrap: wrap
    & > *
        background-color: #afadad;
        transition: 1s;
        border 2px solid white
        text-align center
        color white
        align-self: center
        padding-top: 8px
        cursor pointer
        width: 40px
        height: 40px
        border-radius: 20px
        box-shadow: 1px 1px 1px darkgrey;
        p
            margin: 0
            padding: 0
    & > div.ativo
        border-bottom: 0
        background-color: #e257a7
        border 2px solid white

.pd
    padding: 40px 40px 10px 40px;

.pontos
    position: fixed
    background-color: #b00069
    bottom 0
    left: 20px
    padding 10px
    color: white
    border-radius: 5px 5px 0 0
    p
        margin-bottom: 0
        font-size: 12px
        span
          font-size: 20px  

.valorInputColuna
.valorInput
    width: 35px
    height: 35px
    background-color: darkgray
    color: $colors['inverse']
    border-radius: 50%
    border 2px solid white
    text-align: center
    padding: 5px
    margin 0 10px
    margin-top 10px
    cursor: pointer
    box-shadow: 2px 2px 2px darkgray
    float left
    transition: 1s
    &.ativo
        background-color: red
    span 
        font-size: 18px
    &.block
        opacity: 0.5
        cursor not-allowed

.numero
    margin-right: 25px

@media screen and (max-width: 999px)
    .numero 
        margin-right: 5px;
        margin-top: 5px;