
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@font-face {
  font-family: 'Pampili';
  src: url('/fonts/KGAlwaysAGoodTime.woff2') format('woff2'),
       url('/fonts/KGAlwaysAGoodTime.woff') format('woff')
  font-weight: normal;
  font-style: normal;
}

