footer 
    background-color:   $colors['main']
    padding             remify(10px) remify(10px)

    .logo-biz
        max-width remify(50px)
        text-align center
        padding-top 5px
        padding-bottom 0px
        img 
            margin auto


    .logo-pampili
        max-width remify(100px)
        text-align center
        padding-top 5px
        padding-bottom 0px
        img 
            margin auto