.materiais-deletar
    max-width 40px
    height auto 
    min-width: 20px
    cursor pointer
    float right
// adicionar css
.com-pai > .com-pai
    display none
    background-color #ffe9f5

.icon-table
    cursor pointer