.lista-conferencia 
    font-size: 18px

.botao-modal
    border-radius: 10px;
    border: 0;
    color: #fff
    background-color: #8e8d8b
    border-bottom: 3px solid #4f4f4d;
    padding: 10px
    font-size: 14px
    text-align: center
    float: right

.botao-modal-red
    border-radius: 10px;
    border: 0;
    color: #fff
    background-color: #ce0d2e
    border-bottom: 3px solid #2d0209;
    padding: 10px
    font-size: 14px
    text-align: center
    float: right

.botao-modal-green
    border-radius: 10px;
    border: 0;
    color: #fff
    background-color: #3b7b01
    border-bottom: 3px solid #162509;
    padding: 10px
    font-size: 14px
    text-align: center
    float: right