.displayFlexSliderIcon
    display: flex
    justify-content: space-around
    & > *
        flex 1
        text-align center
        color white
        align-self: center
        padding-top: 10px
        padding-bottom: 10px
        cursor pointer
        p
            margin: 0
            padding: 10px 0

.svg-icon
    max-width: 80px
.escolha-user
    color black
    font-weight: bolder
.icon-float-right
    float: right

.pesquisa
    .wrraper-pergunta
        border: 2px solid #d0c4c4
        border-radius: 10px;
        background-color white
        box-shadow: 2px 2px 1px #dad5d5;
        margin-bottom: 20px;
    .status-cara
        max-width 100px

    .pergunta
        font-family 'Roboto', sans-serif