extends ./_layouts/pesquisa.pug

block content
    article.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
        // sair
        //.logout
            img(src="images/sair.svg", alt="Log Out")

        .envelope-wrraper
            .env-title
                h3.text-center.titulo-colecao
                    span.linha-rosa O que você achou dos looks?
            .well.pesquisa-total
                .pesquisa.clearfix
                    p.text-center.mg-20-top.title-pesquisa Dê sua nota para os looks abaixo:
                    .colecao-wrraper-flex
                        .col-sm-12.bg-colecao
                            img.img-responsive.img-colecao.center-block.pd-20-bottom(src="images/pesquisa/colecao/03-Campanha-Pampili.jpg", alt="Coleção moranguinho")
                            hr.hr
                            .botoes-colecao
                                button.curti.btn(disabled)
                                    input(type="radio" class="input-colecao" name="colecao1")
                                button.amei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao1")
                                button.indiferente.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao1")
                                button.naoGostei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao1")
                        
                        .col-sm-12.bg-colecao
                            img.img-responsive.img-colecao.center-block.pd-20-bottom(src="images/pesquisa/colecao/04-Campanha-Pampili.jpg", alt="Coleção moranguinho")
                            hr.hr
                            .botoes-colecao
                                button.curti.btn(disabled)
                                    input(type="radio" class="input-colecao" name="colecao2")
                                button.amei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao2")
                                button.indiferente.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao2")
                                button.naoGostei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao2")
                        
                        .col-sm-12.bg-colecao
                            img.img-responsive.img-colecao.center-block.pd-20-bottom(src="images/pesquisa/colecao/05-Campanha-Pampili.jpg", alt="Coleção moranguinho")
                            hr.hr
                            .botoes-colecao
                                button.curti.btn(disabled)
                                    input(type="radio" class="input-colecao" name="colecao3")
                                button.amei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao3")
                                button.indiferente.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao3")
                                button.naoGostei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao3")
                        
                        .col-sm-12.bg-colecao
                            img.img-responsive.img-colecao.center-block.pd-20-bottom(src="images/pesquisa/colecao/08-Campanha-Pampili.jpg", alt="Coleção moranguinho")
                            hr.hr
                            .botoes-colecao
                                button.curti.btn(disabled)
                                    input(type="radio" class="input-colecao" name="colecao4")
                                button.amei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao4")
                                button.indiferente.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao4")
                                button.naoGostei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao4")
                        
                        .col-sm-12.bg-colecao
                            img.img-responsive.img-colecao.center-block.pd-20-bottom(src="images/pesquisa/colecao/10-Campanha-Pampili.jpg", alt="Coleção moranguinho")
                            hr.hr
                            .botoes-colecao
                                button.curti.btn(disabled)
                                    input(type="radio" class="input-colecao" name="colecao5")
                                button.amei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao5")
                                button.indiferente.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao5")
                                button.naoGostei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao5")
                        
                        .col-sm-12.bg-colecao
                            img.img-responsive.img-colecao.center-block.pd-20-bottom(src="images/pesquisa/colecao/02-Campanha-Pampili.jpg", alt="Coleção moranguinho")
                            hr.hr
                            .botoes-colecao
                                button.curti.btn(disabled)
                                    input(type="radio" class="input-colecao" name="colecao6")
                                button.amei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao6")
                                button.indiferente.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao6")
                                button.naoGostei.btn.btn-default(disabled)
                                    input(type="radio" class="input-colecao" name="colecao6")


                hr
                .rodape-pesquisa
                    button.btn.btn-lg.btn-pampili.btn-finalizar.center-block(onclick='location.href="/final.html"', disabled) Finalizar

        canvas#canvas

block append scriptsJS 
    script(src="js/app.js")
    script(src="js/heart.js")
    script(src="js/colecao.js")