extends ./_layouts/pesquisa.pug

block content
    article.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8

        .envelope-wrraper
            .env-title
                h3.text-center
                    span.linha-rosa Escolha 3 presentes
            .well.pesquisa-total
                .pesquisa.clearfix
                    p.text-center.mg-20-top.title-pesquisa Selecione 3 produtos que você daria de presente
                    .pesquisa-wrraper-flex                        
                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/baby-alive.jpg")
                            input(type="checkbox" name="chk1" id="item1" value="arezzo" class="inputCheck" autocomplete="off")
                    
                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/barbie.jpg")
                            input(type="checkbox" name="chk1" id="item2" value="barbue" class="inputCheck" autocomplete="off")
                    
                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/boneca-reborn.jpg")
                            input(type="checkbox" name="chk1" id="item3" value="ortope" class="inputCheck" autocomplete="off")
                    
                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/bonecas-lol.jpg")
                            input(type="checkbox" name="chk1" id="item3" value="cros" class="inputCheck" autocomplete="off")
                    
                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/hatchimals.jpg")
                            input(type="checkbox" name="chk1" id="item3" value="melissa" class="inputCheck" autocomplete="off")
                    
                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/marsha-e-o-urso.jpg")
                            input(type="checkbox" name="chk1" id="item1" value="arezzo2" class="inputCheck" autocomplete="off")
                    
                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/my-little-pony.jpg")
                            input(type="checkbox" name="chk1" id="item2" value="3a7" class="inputCheck" autocomplete="off")
                    
                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/sapato-pampili.jpg")
                            input(type="checkbox" name="chk1" id="item3" value="10" class="inputCheck" autocomplete="off")
                    
                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/shopkins.jpg")
                            input(type="checkbox" name="chk1" id="item3" value="10" class="inputCheck" autocomplete="off")
                        
                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/patrulha-canina.jpg")
                            input(type="checkbox" name="chk1" id="item3" value="10" class="inputCheck" autocomplete="off")

                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/shopkins.jpg")
                            input(type="checkbox" name="chk1" id="item3" value="10" class="inputCheck" autocomplete="off")
                        
                        button.btn.btn-presente-escolha
                            img.img-responsive(src="images/pesquisa/presente/patrulha-canina.jpg")
                            input(type="checkbox" name="chk1" id="item3" value="10" class="inputCheck" autocomplete="off")
                            
                hr
                .rodape-pesquisa-marca
                    button.btn.btn-lg.btn-pampili.btn-finalizar.center-block(onclick='location.href="/final.html"', disabled) Finalizar

        canvas#canvas

block append scriptsJS 
    script(src="js/app.js")
    script(src="js/heart.js")
    script(src="js/presente.js")