block settings
    - var title = 'Pesquisa Pampili'
    - var faceTitle = "Pesquisa Pampili"
    - var faceDesc= "Pesquisa Pampili"
    - var faceImage = "http://euro-travel-example.com/thumbnail.jpg"
    - var faceUrl = "http://euro-travel-example.com/index.htm"
    - var _DEV = true
doctype
html(lang="pt")
    head
        include ../_partials/meta-tags
        title #{title}
        if _DEV
            // build:css css/all.biz.min.css
            link(rel="stylesheet", href="css/plugins.css")
            link(rel="stylesheet", href="css/style.css")
            link(rel="stylesheet", href="lib/slick-1.8.1/slick/slick.css")
            link(rel="stylesheet", href="lib/slick-1.8.1/slick/slick-theme.css")
            // endbuild
        else
            link(rel="preload", href="css/all.biz.min.css", as="style")            
        block CSS

    body.tweenie
        // loader 
        #loader
            img(src="/img/rosa-pampili.svg", alt="Loader Aguarde um instante")
        //- esse tag deixa o footer sempre no rodapé
        //- Obs: Caso o tamanho do footer mude ajustar na classe CSS
        .wrraper.clearfix
            block content

        
        footer
            .container
                .footer.center-block
                        .logo-pampili


                        
        block scriptsJS
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
            script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")

            